*{
    background-color: #008507;
}

.App {
  text-align: center;
}

p{
  font-size: 1.5rem;
}
h1{
  font-size: 3rem;
}

button{
    background-color: #8a8a8a;
    margin-top: 1rem;
    margin-right: 5px;
    padding: 10px;
    border-radius: 20px;
    font-size: larger;
}
button:hover{
    transition: 0.2s;
    background-color: #009e35;
}

img{
  background-color: #fff;
  border-radius: 5px;
  width: 7rem;;
  margin-right:5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
